In [45]:
# Must be included at the beginning of each new notebook. Remember to change the app name.
import findspark
findspark.init('/home/ubuntu/spark-3.2.1-bin-hadoop2.7')
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Iteration_4').getOrCreate()

In [46]:
# Let's read in the data. Note that it's in the format of JSON.
df01 = spark.read.option("header", "true").csv('Datasets/job_postings.csv')
df02 = spark.read.option("header", "true").csv('Datasets/job_skills.csv')

## Data Exploration

In [47]:
# Visualise DataFrames df1 
df01.show()
df01.columns

+--------------------+--------------------+------------+-----------+-------+---------------+--------------------+--------------------+--------------------+----------+------------+--------------+--------------------+----------+--------+
|            job_link| last_processed_time| last_status|got_summary|got_ner|is_being_worked|           job_title|             company|        job_location|first_seen| search_city|search_country|     search_position| job_level|job_type|
+--------------------+--------------------+------------+-----------+-------+---------------+--------------------+--------------------+--------------------+----------+------------+--------------+--------------------+----------+--------+
|https://www.linke...|2024-01-21 08:08:...|Finished NER|          t|      t|              f|Senior Machine Le...|   Jobs for Humanity|       New Haven, CT|2024-01-14|  East Haven| United States|Agricultural-Rese...|Mid senior|  Onsite|
|https://www.linke...|2024-01-20 04:02:...|Finished NER|          t|      t|              f|Principal Softwar...|              Aurora|   San Francisco, CA|2024-01-14|  El Cerrito| United States|      Set-Key Driver|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 08:08:...|Finished NER|          t|      t|              f|Senior ETL Data W...|  Adame Services LLC|        New York, NY|2024-01-14|  Middletown| United States|Technical Support...| Associate|  Onsite|
|https://www.linke...|2024-01-20 15:30:...|Finished NER|          t|      t|              f|Senior Data Wareh...|    Morph Enterprise|      Harrisburg, PA|2024-01-12|     Lebanon| United States|           Architect|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 08:08:...|Finished NER|          t|      t|              f|  Lead Data Engineer|                Dice|           Plano, TX|2024-01-14|    McKinney| United States|Maintenance Data ...|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:14:...|Finished NER|          t|      t|              f|Senior Data Engineer|University of Chi...|         Chicago, IL|2024-01-14|East Chicago| United States|Data Base Adminis...|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:14:...|Finished NER|          t|      t|              f|Manager, Cyber Ri...|   Jobs for Humanity|          Boston, MA|2024-01-16|     Beverly| United States|Manager Reports A...|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:39:...|Finished NER|          t|      t|              f|Principal Associa...|   Jobs for Humanity|        Scranton, PA|2024-01-14|   Nanticoke| United States|           Architect|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:14:...|Finished NER|          t|      t|              f|Senior Financial ...|The Walt Disney C...|Lake Buena Vista, FL|2024-01-15|    Avondale| United States|      Budget Officer|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:40:...|Finished NER|          t|      t|              f|Machine Learning ...|L&T Technology Se...|       Sunnyvale, CA|2024-01-14|Redwood City| United States|Test Fixture Desi...|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:15:...|Finished NER|          t|      t|              f|Sr. Workforce Man...|Wisemen Multimedi...|         Atlanta, GA|2024-01-13| Stockbridge| United States|  Management Analyst|Mid senior|  Onsite|
|https://www.linke...|2024-01-20 07:01:...|Finished NER|          t|      t|              f|Master Data Manag...|            OpenText|        Pasadena, CA|2024-01-15| West Covina| United States|             Actuary|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 05:31:...|Finished NER|          t|      t|              f|4 Corporate Assoc...|                 LHH|         Atlanta, GA|2024-01-16|   Crookston| United States|        Floor Worker| Associate|  Onsite|
|https://www.linke...|2024-01-21 07:45:...|Finished NER|          t|      t|              f|Sr. Database Admi...|                Dice|     Yorba Linda, CA|2024-01-14|      Irvine| United States|Data Base Adminis...|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:24:...|Finished NER|          t|      t|              f|Senior MLOps Engi...|Recruiting from S...|         Atlanta, GA|2024-01-14|      Duluth| United States|      Value Engineer|Mid senior|  Onsite|
|https://uk.linked...|2024-01-21 07:15:...|Finished NER|          t|      t|              f|Data Engineer Man...|      Energy Jobline|Wolverhampton, En...|2024-01-14|     Telford|United Kingdom|Agricultural-Rese...|Mid senior|  Onsite|
|https://ca.linked...|2024-01-21 00:27:...|Finished NER|          t|      t|              f|Data Analyst Part...|          Toyandsons|Waterloo, Ontario...|2024-01-14|   Stratford|        Canada|    Data Entry Clerk|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:16:...|Finished NER|          t|      t|              f|Summer 2024 Datac...|                 AMD|          Austin, TX|2024-01-15|      Austin| United States|Die-Maker Apprentice|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:34:...|Finished NER|          t|      t|              f|Enterprise Data M...|              DMVTEK|State College-DuB...|2024-01-14|        Zion| United States|  Manager Department|Mid senior|  Onsite|
|https://www.linke...|2024-01-21 07:34:...|Finished NER|          t|      t|              f|IT Database Devel...|             Experis|     Minneapolis, MN|2024-01-14| Lake Forest| United States|Data Base Adminis...|Mid senior|  Onsite|
+--------------------+--------------------+------------+-----------+-------+---------------+--------------------+--------------------+--------------------+----------+------------+--------------+--------------------+----------+--------+
only showing top 20 rows

['job_link',
 'last_processed_time',
 'last_status',
 'got_summary',
 'got_ner',
 'is_being_worked',
 'job_title',
 'company',
 'job_location',
 'first_seen',
 'search_city',
 'search_country',
 'search_position',
 'job_level',
 'job_type']

In [48]:
# Visualise DataFrames df2
df02.show()
df02.columns

+--------------------+--------------------+
|            job_link|          job_skills|
+--------------------+--------------------+
|https://www.linke...|Machine Learning,...|
|https://www.linke...|C++, Python, PyTo...|
|https://www.linke...|ETL, Data Integra...|
|https://www.linke...|Data Lakes, Data ...|
|https://www.linke...|Java, Scala, Pyth...|
|https://www.linke...|Data Warehouse (D...|
|https://www.linke...|Machine Learning,...|
|https://www.linke...|Data Loss Prevent...|
|https://www.linke...|Problem solving, ...|
|https://www.linke...|Machine Learning,...|
|https://www.linke...|SQL, Database Adm...|
|https://www.linke...|Master Data Analy...|
|https://www.linke...|Corporate Law, Pr...|
|https://www.linke...|SQL, AWS, DBA cas...|
|https://www.linke...|Machine Learning ...|
|https://uk.linked...|Data Engineering,...|
|https://ca.linked...|Data Analysis, Da...|
|https://www.linke...|Hardware Validati...|
|https://www.linke...|Data governance, ...|
|https://www.linke...|SQL Server, SSIS,...|
+--------------------+--------------------+
only showing top 20 rows

['job_link', 'job_skills']

In [49]:
# Convert Spark DataFrame to Pandas DataFrame
pd_df01 = df01.toPandas()
pd_df02 = df02.toPandas()
# Display summary statistics using Pandas
from IPython.display import display
display(pd_df01.describe(include='all'))
display(pd_df02.describe(include='all'))

,job_link,last_processed_time,last_status,got_summary,got_ner,is_being_worked,job_title,company,job_location,first_seen,search_city,search_country,search_position,job_level,job_type
count,12218,12218,12218,12218,12218,12218,12218,12217,12216,12216,12216,12216,12216,12216,12216
unique,12218,5764,2,2,2,2,6485,3947,2050,6,801,4,711,2,3
top,https://www.linkedin.com/jobs/view/senior-mach...,2024-01-19 09:45:09.215838+00,Finished NER,t,t,f,Senior Data Engineer,Jobs for Humanity,"New York, NY",2024-01-13,Greater London,United States,Data Entry Clerk,Mid senior,Onsite
freq,1,6455,12217,12217,12217,12217,285,732,280,4946,189,10291,1088,10918,12187

,job_link,job_skills
count,12217,12212
unique,12217,12204
top,https://www.linkedin.com/jobs/view/senior-mach...,"VolunteerMatch, LinkedIn for Good"
freq,1,3

In [ ]:
# For type, we can use print schema. 
df01.printSchema()
df02.printSchema()

## Data Manipulation